@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  /* Colors primary */
  --primary: #d87d4a;
  --primary-hover: #fbaf85;
  --primary-foreground: #ffffff;

  --gray-500: #878787;
  --gray-600: #797979;
  --raduis: 0.5rem;
  --card-background: #f1f1f1;
  --secondary: #101010;
  --border-cta: #000000;
  --button-secondary: #b5b5b5;
}

@theme {
  --font-monrape: "Manrope", sans-serif;

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-secondary: var(--secondary);
  --color-card-background: var(--card-background);
  --color-border-cta: var(--border-cta);
  --color-button-secondary: var(--button-secondary);
  --radius: var(--raduis);
  --breakpoint-3xl: 1550px;
}
@layer components {
  .container-custom {
    @apply mx-auto max-w-[1100px] max-lg:px-6;
  }
}
@layer utilities {
  @media (orientation: portrait) {
    .portrait\:h-auto {
      min-height: 800px;
    }
  }
}

body {
  font-family: var(--font-monrape);
}

@layer base {
}

/* @utility container {
  margin-inline: auto;
  padding-inline: 0;
  margin: 0 auto;
  max-width: 1110px;
} */
